body{
  background-color: #1c1cc0;
}

#header {
  width: 99vw;
  height: fit-content;
  background-color:#4EA699;
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 2;
}

#headerLeft{

  background-color: #4EA699;
  width: 50%;
  margin-left: 20%;
}

#header h1 {
  color: #A0C1B9;
  width: 50%;
  height: 80%;
  background-color: #315a74;
  text-align: center;
  margin-top: 0.2em;
  margin-left: 0.5em;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  
}

#headerLeft ul {
  width: 90%;
  list-style: none;
  display: flex;
  background-color: #315A74;
  align-items: center;
  margin-top: 1%;
  margin-left: 5%;
  padding: 5px;

}

#headerLeft .il:hover {
  text-decoration: underline; /* Subraya el texto al pasar por encima */
}

#mainContainer{
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 44%, rgba(26,26,172,1) 70%, rgba(0,212,255,0.41453077813156514) 100%);
    margin-top: 6vw;
    width: 100%;
    height: fit-content;
    position: absolute; /*Temporal*/
}
#tituloPelicula{
    background-color: #140d4f;
    color: #88B1B4;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 100%;
    height: auto;
    margin-top: 3.44%;
    padding: 20px;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 2;
}
#tituloPelicula h2{
    background-color:#4EA699;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 10px;
    margin-left: 10%;
}

#cards{
    width: 90%;
    margin-left: 5%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    gap: 20px
}

#pageFoot {
  width: 100%;
  z-index: 2;
  margin-top: auto;
  position: relative;
  text-align: center;
}

.div13{
  position: relative;
    background-color: #233462;
    border-radius: 2rem;
    width: 22%;
    border: 1px #70A0AF;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: calc(100% - 20px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.singleTitle{
  position: absolute;
  background-color: rgba(35, 52, 98, 0.9);
  color: #A0C1B9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  z-index: 1;
  left: 0;
  right: 0; 
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.imgContainer{
    position: relative;
    display: inline-block;
    background-color: #1C0B19;
    display: grid;
    align-items: center;
    height: auto;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.imgEditor{
  display: block;
  width: 100%;
  height: 445px;
  object-fit: cover;
  transition: transform 0.3s ease;
  /* Rectángulo con esquinas redondeadas */

}
.imgContainer:hover img {
  transform: scale(1.1); /* Ajusta el tamaño de la imagen al 110% al pasar el mouse sobre el contenedor */
}

.dataMovie{
    width: 90%;
    height: 15em;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.dataMovie h5{
    border: 1px solid black;
    margin: 20px;
    background-color: greenyellow;
}

.infoSection{
  background-color:  #233462;
  align-items: center;
  width: 85%;
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 5px;
  color: #A0C1B9;
}

.preTitle{
  background-color: #233462;
  width: 33%;
  font-weight: bold;
}

.subTitle{
  background-color: #233462;
  width: 67%;
  display: flex;
  align-items: center;
  word-break:break-all;
}

.custom-button {
  background-color: #140D4F; /* Verde */
  border: none;
  color: #A0C1B9;
  padding: 5px 10px; /* Ajustar el padding para hacer los botones más pequeños */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px; /* Ajustar el tamaño de la fuente */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #A0C1B9; 
}

.movieButton {
  margin-left: 30%;
  margin-top: 1em;
  background-color: #C42847; /* Verde */
  border: none;
  color: black;
  padding: 10px 10px; /* Ajustar el padding para hacer los botones más pequeños */
  text-align: center;
  text-decoration: none;
  font-size: 1em; /* Ajustar el tamaño de la fuente */
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.movieButton:hover {
  background-color: #DE3C4B; 
}

.card{
  border: #233462;
  color: #A0C1B9;
}
.card-header {
  background-color: #233462;
  border: #1C0B19;
}

.card-body{
  background-color: #233462;
}

.btn {
  background-color: #315A74;
  border: #315A74
}