body {
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 44%, rgba(28,28,192,0.8515055680475315) 70%, rgba(0,212,255,1) 100%);
}

#header1 {
    background-color:#140D4F;
    align-items: center;
    display: flex;
    padding: 1em;
    color: antiquewhite;
    height: 7em;
}
h1 {
    margin-left: 2%;
    margin-top: 0.1em;
}
#navBar {
    margin-left: 35%;
}

#biography {
    background-color: yellow;
    height: fit-content;
    width: auto;
    margin-top: 1em;
    text-align: center;
    position: absolute;
}

#biography h2{
    background-color: yellow;
    height: fit-content;
    width: auto;
    margin-top: 1em;
    text-align: center;
    position: relative;
}
#textBio {
    background-color: slateblue;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 25em;
    position: relative; /* Aseguramos que el texto tenga una posición relativa */
    z-index: 2;

}

#newMovieIn {
    background-color: rgba(64, 128, 135, 0.9);
    width: 60%;
    margin-left: 20%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 5%;
    border-radius: 0.5em;

}

#moviesContainer {
    background-color: white;
    width: 100%;
    height: 2.5em;
    border-radius: 0.2em;
    display: flex;
    gap: 0.2em;
}

/* Estilo para el botón Añadir */
#add-button {
    background-color: #008CBA;
    color: white; /* Color del texto */
    padding: 2.5px 5px; /* Espaciado interno */
    margin: 5px; /* Margen exterior */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 5px; /* Borde redondeado */
    align-items: center; /* Color de fondo */
}
#resetBtn {
    background-color: #BA1B1D; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 2.5px 5px; /* Espaciado interno */
    margin: 5px; /* Margen exterior */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 5px; /* Borde redondeado */
    align-items: center;
    padding: 1em;
    transition: background-color 0.3s;
}

#uploadBtn {
    background-color:#29BF12; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 2.5px 5px; /* Espaciado interno */
    margin: 5px; /* Margen exterior */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 5px; /* Borde redondeado */
    align-items: center;
    padding: 1em;
    transition: background-color 0.3s;
}

#resetBtn:hover {
    background-color: #F24333; 
}

#uploadBtn:hover {
    background-color: #ABFF4F; 
}

#navBar {
    color: #A0C1B9;
}

#pageFoot {
    width: 100%;
    z-index: 2;
    margin-top: auto;
    position: relative;
    text-align: center;
}

#optBtns{
    margin-left: 30%;
    gap: 1.5em;
}
.nav{
    color: #A0C1B9;
}
.buttonAdd {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 2.5px 5px; /* Espaciado interno */
    margin: 5px; /* Margen exterior */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 5px; /* Borde redondeado */
    align-items: center;
}
.image-Container {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 2;
}

.image-Container img{
    width: 100%;
    height: 100%;
    -webkit-mask-image: url("../Assets/Shape.png");
    mask-image: url("../Assets/Shape.png");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.mainSection{
    display: flex;
}


.card{
    border: #233462;
    color: #A0C1B9;
}
.card-header {
    background-color: #233462;
    border: #1C0B19;
}

.card-body{
    background-color: #233462;
}

.btn {
    background-color: #315A74;
    border: #315A74
}