#header {
  width: 100vw;
  height: fit-content;
  background-color: red;
  display: flex;
  position: relative;
  align-items: center;
}

#headerLeft{

  background-color: blue;
  width: 40%;

}

#header h1 {
  width: 50%;
  height: 80%;
  background-color: yellow;
  text-align: center;
}

#headerLeft ul {
  width: 90%;
  list-style: none;
  display: flex;
  background-color: green;
  align-items: center;
  margin-top: 1.8%;
  margin-left: 5%;
  margin-bottom: 1.8%;
  border: 1px solid black;
  padding: 5px;

}

#headerLeft .il {
  background-color: violet;
  border: 1px solid black;
  border-radius: 20px;
  padding: 3px;
  margin-left: 8%;
  padding: 10px;
  cursor: pointer; /* Cambia el cursor a un puntero al pasar por encima */
}

#headerLeft .il:hover {
  text-decoration: underline; /* Subraya el texto al pasar por encima */
}

#mainContainer{
    background-color: grey;
    margin-top: 2vw;
    width: 100vw;
    height: fit-content;
    position: relative; /*Temporal*/
}
#tituloPelicula{
    background-color: salmon;
    width: 80%;
    height: fit-content;
    margin-top: 2%;
    margin-left: 10%;
    padding: 20px;
    align-items: center;
}
#tituloPelicula h2{
    background-color: springgreen;
    text-align: center;
    width: 80%;
    height: fit-content;
    padding: 10px;
    margin-left: 10%;
}

#cards{
    background-color: yellow;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    gap: 20px
}
.div13{
    background-color: red;
    border-radius: 2rem;
    width: 20%;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.singleTitle{
    background-color: lime;
    width: 80%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    text-align: center;
    

}
.imgContainer{
    background-color: white;
    display: grid;
    align-items: center;
    height: 430px;
}

.imgEditor{
  margin-left: 10%;
  display: block;
  width: 80%;
  /* Rectángulo con esquinas redondeadas */
clip-path: inset(15px 15px 15px 15px round 1%);

}

.dataMovie{
    background-color: aqua;
    width: 80%;
    height: 200px;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.dataMovie h5{
    border: 1px solid black;
    margin: 20px;
    background-color: greenyellow;
}

.infoSection{
  background-color: greenyellow;
  width: 85%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.preTitle{
  background-color: blueviolet;
  width: 29%;
}

.subTitle{
  background-color: yellow;
  width: 71%;
  display: flex;
  align-items: center;
  word-break:break-all;
}

footer {
    background-color: gold;
    text-align: center;
    width: 100vw;
}
